certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
Flask-REST-JSONAPI==0.31.2
Flask-SQLAlchemy==2.5.1
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.0
marshmallow==3.14.1
marshmallow-jsonapi==0.24.0
PyJWT==2.3.0
pytz==2021.3
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.32
twilio==7.7.1
urllib3==1.26.8
Werkzeug==2.0.3
